---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2 style="font-size: 24px; font-weight: bold; color: #494e52; margin-top: 20px;">
    Working Papers
</h2>

{% for paper in site.working_papers reversed %}
  <p style="font-size: 18px; font-weight: bold; margin-bottom: 5px;">
    {{ paper.title }}
  </p>
{% endfor %}

<h2 style="font-size: 24px; font-weight: bold; color: #494e52; margin-top: 20px;">
    Publications
</h2>

{% for post in site.publications reversed %}
  <p style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">
    <a href="{{ post.url }}" style="text-decoration: none; color: black;">{{ post.citation }}</a>
  </p>
{% endfor %}



