---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<h2 style="font-size: 28px; font-weight: bold; color: #2a7ae2; margin-top: 20px;">
    Working Papers
</h2>

<ul>
  <li><a href="https://example.com/paper1.pdf">Title of Working Paper 1</a></li>
  <li><a href="https://example.com/paper2.pdf">Title of Working Paper 2</a></li>
  <li><a href="https://example.com/paper3.pdf">Title of Working Paper 3</a></li>
</ul>

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}



